        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Social Icons</h2>
          <ul class="list-unstyled social-icons light">
              {% if theme.facebook %}<li><a href="{{ theme.facebook }}" target="_blank" rel="noopener" title="Facebook"><span class="icon-facebook"></span></a></li>{% endif %}
              {% if theme.twitter %}<li><a href="{{ theme.twitter }}" target="_blank" rel="noopener" title="Twitter"><span class="icon-twitter"></span></a></li>{% endif %}
              {% if theme.instagram %}<li><a href="{{ theme.instagram }}" target="_blank" rel="noopener" title="Instagram"><span class="icon-instagram"></span></a></li>{% endif %}
              {% if theme.dribble %}<li><a href="{{ theme.dribble }}" target="_blank" rel="noopener" title="Dribble"><span class="icon-dribbble"></span></a></li>{% endif %}
              {% if theme.linkedin %}<li><a href="{{ theme.linkedin }}" target="_blank" rel="noopener" title="Linkedin"><span class="icon-linkedin"></span></a></li>{% endif %}
          </ul>
        </div> <!-- END .custom-block -->
